include LICENSE
include NOTICE
include README.md
include requirements.txt
recursive-include src/aselenium *.py
include src/aselenium/manager/geckodriver/compatibility.json
include src/aselenium/py.typed

prune .github
prune docs
prune scripts
prune tests
prune src/demo_assets
exclude requirements-dev.txt
exclude requirements-minimum.txt
exclude src/_demo_support.py
exclude src/demo_google.py
exclude src/demo_local.py
exclude src/quick_start.py
